{% extends 'djpaste/base.html' %}

{% block content %}
<div id="help">
<p>
DjPaste is a pastebin written in Django. It was built as part of My MCA 5th Semester mini-project.
It is heavily <del>stolen</del> inspired from <a href="http://dpaste.com/">Dpaste.com</a>, but the codebase is in no way related.
</p>
<p>
    Pasting content with DjPaste is very easy. You just choose the type of the code you are pasing, paste, and hit the button. Magic starts happening.
    Only text is the required field. All other fields are optional.
</p>
<p> Super Special Features:
    <ul>
        <li>Automatically focuses to Code field, so you can paste fast.</li>
        <li>Remembers previous choices.</li>
        <li>No registration needed. just open and get the work done.</li>
        <li>No unnecessary fields.</li>
        <li>You can find code at github link. it's free and open to use so do whatever you wanna do with it. :p </li>
     </ul>
</p>
<p>
    Coming soon features :
    <ul>
        <li> Adding blog archives page. it will enable users to fastly navigate through and search blog posts with arranged dates. </li>
    <ul>
</p>
</div>
{% endblock %}
